@use 'sass:color';

// mobile navigation menu button
body:not(.header-dark) .mobile-menu #toggle:not(.active) span,
#header.scrolled ~ .mobile-menu #toggle:not(.active) span {
	background: $text-color;
}

body.header-dark .mobile-menu #toggle span,
.mobile-menu #toggle.active span {
	background: $text-color-secondary;
}

// navigation menu
body:not(.header-dark) #header, #header.scrolled {
	background-color: $background-color;
	color: $text-color;

	.dropmenu a:is(.active, :focus, :hover) {
		color: $link-color !important;
	}
}

body.header-dark #header:not(.scrolled) {
	background-color: $header-background;
	color: $text-color-secondary-dark;

	.dropmenu a:is(.active, :focus, :hover) {
		color: $text-color-secondary !important;
	}
}

#footer {
	background-color: $footer-background !important;
	color: $footer-text;

	a, a:is(:hover) {
		color: $link-color;
	}
}

// darkmode elements
@if ($dark-mode) {
	input, textarea, button:not(.btn-primary), .btn:not(button),
	.notices, .card, .tab, .accordion-wrapper label,
	code:not([class*=language-]), pre {
		background-color: $dark-overlay !important;

		& code[class*=language-] {
			background-color: transparent !important;
		}
	}

	blockquote {
		border-left-color: $dark-overlay !important;
	}
}

// labels
.label.label-secondary {
	color: $link-color;
	background-color: mix($link-color, $light-overlay, 10%);
}

body {
	background-color: $background-color;
	color: $text-color;

	h1, h2, h3, h4, h5, h6 {
		color: $text-color;
	}

	a:not(:has(.title), :is(.mobile-container a)) {
		color: $link-color;

		&:hover, &:focus, &:active, &:visited {
			color: $link-color__active;
		}

		&.btn {
			border-color: $accent-color;
		}
	}

	@if ($mobile-menu-colored) {
		.treemenu li a:is(a, .active, :focus, :hover) {
			color: $link-color !important;
		}
	}

	table {
		th {
			background-color: $primary-color;
			color: $text-color-secondary;
		}

		tr:nth-child(even) {
			background-color: $dark-overlay;
		}
	}

	input {
		&.form-input:focus {
			border-color: $accent-color;
			box-shadow: 0 0 0 .1rem rgba($accent-color, .25);
		}
	}
}
