// desktop
@media screen and (min-width: $responsive-breakpoint-tablet+1) {
	// ...
}

// tablet
@media screen and (max-width: $responsive-breakpoint-tablet) {
	// ...
}

// mobile
@media screen and (max-width: $responsive-breakpoint-mobile) {
	// ...
}
