@use 'sass:color';
@use '../../hadron/scss/theme' as hadron;

// logical variables
$dark-mode: false;
$mobile-menu-colored: false;

// color definitions
$primary-color: hadron.$primary-color;
$accent-color: hadron.$accent-color;
$grey: hadron.$grey;

// sizes
$responsive-breakpoint-mobile: hadron.$responsive-breakpoint-mobile;
$responsive-breakpoint-tablet: hadron.$responsive-breakpoint-tablet;
$responsive-breakpoint-desktop: hadron.$responsive-breakpoint-desktop;

// hero image
$light-overlay: rgba(255, 255, 255, 0.25);
$dark-overlay: rgba(0, 0, 0, 0.25);
$overlay-dark: hadron.$overlay-dark;
$overlay-dark-grad-from: hadron.$overlay-dark-grad-from;
$overlay-dark-grad-to: hadron.$overlay-dark-grad-to;

// elements
$background-color: hadron.$background-color;
$text-color: $grey;
$text-color-light: mix($text-color, $light-overlay, 25%);
$text-color-secondary: hadron.$text-color-secondary;
$text-color-secondary-dark: mix($text-color-secondary, $dark-overlay);
$link-color: $primary-color;
$link-color__active: $accent-color;

// header & footer
$header-background: $background-color;
$header-text: $text-color;
$header-text__active: $text-color-secondary;
$footer-background: $background-color;
$footer-text: $text-color;
$footer-text-link: $link-color;

// sizes
$nav-item-height: hadron.$nav-item-height;
