@use 'sass:color';
@use '../../hadron/scss/theme' as hadron;

// logical variables
$dark-mode: false;
$mobile-menu-colored: false;

// color definitions
$light-overlay: hadron.$light-overlay;
$dark-overlay: hadron.$dark-overlay;
$primary-color: #005CD4;
$accent-color: mix($primary-color, $dark-overlay, 75%);
$grey: hadron.$grey;

// sizes
$responsive-breakpoint-mobile: hadron.$responsive-breakpoint-mobile;
$responsive-breakpoint-tablet: hadron.$responsive-breakpoint-tablet;
$responsive-breakpoint-desktop: hadron.$responsive-breakpoint-desktop;

// elements
$background-color: white;
$text-color: $grey;
$text-color-light: mix($text-color, $light-overlay, 25%);
$text-color-secondary: white;
$text-color-secondary-dark: mix($text-color-secondary, $dark-overlay);
$link-color: $primary-color;
$link-color__active: $accent-color;

// header & footer
$header-background: $background-color;
$header-text: $text-color;
$header-text__active: $text-color-secondary;
$footer-background: $background-color;
$footer-text: $text-color;
$footer-text-link: $link-color;

// sizes
$nav-item-height: 4rem;
