@use '../../../hadron/scss/theme' as hadron;
@use '../theme' as local;

// color definitions
$primary-color: local.$primary-color !default;
$accent-color: local.$accent-color !default;
$grey: hadron.$grey;
$light-overlay: hadron.$light-overlay;
$dark-overlay: hadron.$dark-overlay;

// elements
$background-color: hadron.$background-color;
$text-color: hadron.$text-color;
$text-color-light: hadron.$text-color-light;
$text-color-secondary: hadron.$text-color-secondary;
$text-color-secondary-dark: hadron.$text-color-secondary-dark;

// hero image
$overlay-dark: hadron.$overlay-dark;
$overlay-dark-grad-from: hadron.$overlay-dark-grad-from;
$overlay-dark-grad-to: hadron.$overlay-dark-grad-to;

// sizes
$responsive-breakpoint-mobile: hadron.$responsive-breakpoint-mobile;
$responsive-breakpoint-tablet: hadron.$responsive-breakpoint-tablet;
$responsive-breakpoint-desktop: hadron.$responsive-breakpoint-desktop;

// elements
$background-color: hadron.$background-color;
$text-color: hadron.$text-color;
$text-color-light: hadron.$text-color-light;
$text-color-secondary: hadron.$text-color-secondary;
$text-color-secondary-dark: hadron.$text-color-secondary-dark;
$link-color: hadron.$link-color;
$link-color__active: hadron.$link-color__active;

// header & footer
$header-background: hadron.$header-background;
$header-text: hadron.$header-text;
$header-text__active: hadron.$header-text__active;
$footer-background: hadron.$footer-background;
$footer-text: hadron.$footer-text;
$footer-text-link: hadron.$footer-text-link;

// sizes
$nav-item-height: hadron.$nav-item-height;
