@use '../../../hadron/scss/theme' as hadron;
@use '../theme' as local;

// TODO: remove and use local instead for hadron
// color definitions
$primary-color: local.$primary-color;
$accent-color: local.$accent-color;
$grey: local.$grey;
$light-overlay: local.$light-overlay;
$dark-overlay: local.$dark-overlay;

// elements
$background-color: local.$background-color;
$text-color: local.$text-color;
$text-color-light: local.$text-color-light;
$text-color-secondary: local.$text-color-secondary;
$text-color-secondary-dark: local.$text-color-secondary-dark;

// hero image
$overlay-dark: local.$overlay-dark;
$overlay-dark-grad-from: local.$overlay-dark-grad-from;
$overlay-dark-grad-to: local.$overlay-dark-grad-to;

// sizes
$responsive-breakpoint-mobile: local.$responsive-breakpoint-mobile;
$responsive-breakpoint-tablet: local.$responsive-breakpoint-tablet;
$responsive-breakpoint-desktop: local.$responsive-breakpoint-desktop;

// elements
$background-color: local.$background-color;
$text-color: local.$text-color;
$text-color-light: local.$text-color-light;
$text-color-secondary: local.$text-color-secondary;
$text-color-secondary-dark: local.$text-color-secondary-dark;
$link-color: local.$primary-color;
$link-color__active: local.$accent-color;

// header & footer
$header-background: local.$header-background;
$header-text: local.$header-text;
$header-text__active: local.$header-text__active;
$footer-background: local.$footer-background;
$footer-text: local.$footer-text;
$footer-text-link: local.$footer-text-link;

// sizes
$nav-item-height: local.$nav-item-height;
